<head>
  <meta charset="utf-8"/>
  <title>{{ title }}{{# if error }} &middot; {{ errorTitle }}{{/if}}</title>

  <!--/ IDEAS NEVER CEASE
   __     __   __     ______
  /\ \   /\ "-.\ \   /\  ___\
  \ \ \  \ \ \-.  \  \ \ \____
   \ \_\  \ \_\\"\_\  \ \_____\
    \/_/   \/_/ \/_/   \/_____/

  //////// 01101001 01101110 01100011

  /-->

  <meta name="author" content="Paul Anthony Webb"/>
  <meta name="description" content="{{ Description }}"/>
  <meta name="keywords" content="!nc, ideas, inc, never cease"/>
  <meta name="title" content="{{ Title }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Karla:400,700,400i,700i"/>
  <link rel="stylesheet" href="/css/style.css"/>

  <script src="/scripts/vendor/zepto.js"></script>
</head>
