{
  plugins: [
    "@babel/plugin-transform-parameters",
    [
      "@babel/plugin-transform-react-jsx", {
        pragma: "h",
        pragmaFrag: "Fragment"
      }
    ]
  ],
  presets: [
    [
      "@babel/preset-env", {
        modules: false
      }
    ]
  ]
}
