{
  extends: [
    "@inc/eslint-config/browser",
    "@inc/eslint-config/esnext"
  ],
  parser: "babel-eslint",
  plugins: [
    "eslint-plugin-react"
  ],
  rules: {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  settings: {
    react: {
      pragma: "h"
    }
  }
}
