.footer {
  width: 100%;
  padding: 0.5rem 1rem;
  bottom: 0; left: 0;

  background-color: $black;
  color: rgba($white, 0.3);
  cursor: default;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: fixed;
  text-align: center;
}
