<section class="table inner-wrap">
  <div class="grid">
    <div class="col">Project Name</div>
    <div class="col">Description</div>
    <div class="col">URL</div>
    <div class="col">Status</div>
  </div>

  <div class="grid">
    <div class="col">Ad Network</div>
    <div class="col">Ad network for !NC, to be open-sourced later</div>
    <div class="col">&mdash;</div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">Aries</div>
    <div class="col">Default browser for hikari</div>
    <div class="col"><a href="https://paulwebb.software/SciLab/Aries" title="Source code for Aries Browser">paulwebb.software/SciLab/Aries</a></div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">BeachfrontDigital</div>
    <div class="col">A domain portfolio management tool</div>
    <div class="col"><a href="https://beachfront.digital" title="Sign up for BeachfrontDigital's beta!">beachfront.digital</a></div>
    <div class="col active">Active</div>
  </div>

  <div class="grid">
    <div class="col">Brisk</div>
    <div class="col">No configuration process management for servers</div>
    <div class="col">&mdash;</div>
    <div class="col in-progress">In Progress</div>
  </div>

  <div class="grid">
    <div class="col">Chew</div>
    <div class="col">Analytics you can count on</div>
    <div class="col">&mdash;</div>
    <div class="col in-progress">In Progress</div>
  </div>

  <div class="grid">
    <div class="col">DSGN</div>
    <div class="col">Design Services for the Good Natured</div>
    <div class="col"><a href="https://dsgn.io" title="The design studio behind everything !NC designs">dsgn.io</a></div>
    <div class="col active">Active</div>
  </div>

  <div class="grid">
    <div class="col">FRSH&times;BTS</div>
    <div class="col">Music production and releases</div>
    <div class="col">&mdash;</div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">hikari</div>
    <div class="col">Open-source operating system</div>
    <div class="col"><a href="https://hikar.io" title="This operating system passion project was inspired by Megaman Battle Network">hikar.io</a></div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">Noto</div>
    <div class="col">Content Management System</div>
    <div class="col">&mdash;</div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">Socii</div>
    <div class="col">A better social network, focused on users' privacy and security</div>
    <div class="col"><a href="https://socii.network" title="I got tired of dealing with Big Social so I made a better alternative">socii.network</a></div>
    <div class="col in-progress">In Progress</div>
  </div>

  <div class="grid">
    <div class="col">VendoMarket</div>
    <div class="col">eCommerce platform</div>
    <div class="col">&mdash;</div>
    <div class="col paused">Paused</div>
  </div>

  <div class="grid">
    <div class="col">theWebb.blog</div>
    <div class="col">Our founder's fantastic blog</div>
    <div class="col"><a href="https://thewebb.blog" title="I should write more, but you can check out what I've written thus far!">thewebb.blog</a></div>
    <div class="col active">Active</div>
  </div>

  <div class="grid">
    <div class="col">WEÖM</div>
    <div class="col">Space-centric lifestyle brand</div>
    <div class="col"><a href="https://weom.space" title="Wisdom Escapes Ordinary Minds is a dope brand, buy that sweet snapback!">weom.space</a></div>
    <div class="col paused">Paused</div>
  </div>
</section>

<section class="inner-wrap">
  <p>There are <strong>plenty more</strong> projects in the works but we want to finish the aforementioned ones before embarking on more. Ideas never cease but you can't ship anything if you keep switching to new things.</p>
</section>
