$white:   #fcfcfc;
$black:   #010000;
$gray:    #a5b5b9;
$cyan:    #51dcfb;
$blue:    #5187fb;
$indigo:  #7051fb;
$violet:  #c551fb;
$fuschia: #fb51dc;
$pink:    #fb5187;
$red:     #fb7051;
$orange:  #fbc551;
$yellow:  #dcfb51;
$lime:    #87fb51;
$green:   #51fb70;
$teal:    #51fbc5;

// via https://palx.jxnblk.com/51dafb
