.grid {
  &:first-of-type {
    background-color: rgba($gray, 0.3);
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  &:not(:first-of-type) {
    font-size: 1rem;

    @media (min-width: 801px) {
      border-left: 1px solid rgba($gray, 0.3);
    }

    @media (max-width: 800px) {
      .col {
        border-left-style: solid;
        border-left-width: 1px;

        &:first-of-type {
          border-top-style: solid;
          border-top-width: 1px;
        }

        &:last-of-type {
          border-right-style: solid;
          border-right-width: 1px;
        }
      }
    }

    .col {
      border-right-style: solid;
      border-bottom-style: solid;
      border-right-width: 1px;
      border-bottom-width: 1px;

      border-color: rgba($gray, 0.3);
    }
  }
}

.col {
  padding: 0.5rem 1rem;

  cursor: default;
  vertical-align: middle;
  word-break: break-word;

  @media (min-width: 801px) {
    text-align: center;
  }

  &.active {
    color: $fuschia;
  }

  &.ideation {
    color: $cyan;
  }

  &.progressing {
    color: $orange;
  }

  &.paused {
    color: $gray;
  }

  a {
    font-weight: 600;
    word-wrap: break-word;
  }
}

@media (min-width: 801px) {
  .grid {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .col {
    display: table-cell;
  }

  .grid-padded {
    margin-right: -1rem;
    margin-left: -1rem;

    .grid {
      border-spacing: 1rem 0;
    }
  }
}

@media (max-width: 800px) {
  .grid {
    &:first-of-type {
      display: none;
    }

    &:not(:first-of-type) {
      margin-bottom: 2rem;
    }
  }
}

.grid-align-middle .col {
  vertical-align: middle;
}

.grid-reverse {
  direction: rtl;

  .col {
    direction: ltr;
  }
}

.table {
  margin-bottom: 2rem;
}
