.header {
  width: 100%;
  top: 0; left: 0;

  position: fixed;
  z-index: 2;

  .inner-wrap::after {
    @include clearfix;
  }
}

.header__logo {
  float: left;
  position: relative;

  &::before,
  &::after {
    width: calc(100vw - 9rem); height: 4rem;
    top: 0;

    background-color: $black;
    content: "";
    position: absolute;
    z-index: -1;
  }

  &::before {
    left: calc(-100vw + 9rem);
  }

  &::after {
    left: 9rem;
  }

  a {
    @include hide-text;
    width: 9rem; height: 4rem;

    // background-image: url("/dist/images/logo.svg"); // https://codepen.io/jakob-e/full/doMoML
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 462 276' xmlns='http://www.w3.org/2000/svg' %3E %3Cpath fill='%23010000' d='M91.52, 203 L91.52, 64.456 L47.168, 64.456 L47.168, 203 L0, 203 L0, 0 L462, 0 L462, 203 L387.923039, 203 C402.863777, 198.082843 412.854123, 189.415959 418.4, 181.384 L389.6, 154.312 C384.128, 162.088 375.2, 167.848 363.392, 167.848 C344.96, 167.848 330.848, 154.888 330.848, 133.864 C330.848, 112.84 344.96, 100.168 363.392, 100.168 C375.2, 100.168 384.128, 105.352 389.6, 113.416 L418.4, 86.632 C410.048, 74.248 391.616, 61 361.376, 61 C317.888, 61 285.632, 90.376 285.632, 133.864 C285.632, 167.930278 305.425428, 193.513659 334.906242, 203 L262.304, 203 L262.304, 105.064 C262.304, 79.432 247.904, 61 216.512, 61 C192.896, 61 176.48, 71.656 168.128, 81.448 L168.128, 64.456 L123.776, 64.456 L123.776, 203 L91.52, 203 Z M168.128, 203 L168.128, 113.704 C173.312, 107.368 181.952, 100.168 195.2, 100.168 C209.024, 100.168 217.952, 106.216 217.952, 123.208 L217.952, 203 L168.128, 203 Z M69.344, 275.992 C55.232, 275.992 44, 264.472 44, 250.36 C44, 236.248 55.232, 225.016 69.344, 225.016 C83.456, 225.016 94.976, 236.248 94.976, 250.36 C94.976, 264.472 83.456, 275.992 69.344, 275.992 Z'%3E%3C/path%3E %3C/svg%3E");
    background-position: center 1px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      width: 100%; height: 1px;
      top: 0; left: 0;

      background-color: $black;
    }

    &::after {
      width: 1rem; height: 1rem;
      bottom: -1.25rem; left: 13px;

      // background-image: url("/dist/images/dot.svg"); // https://codepen.io/jakob-e/full/doMoML
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg' %3E %3Cpath fill='%23010000' d='M29.856, 55.488c-14.112, 0 -25.344, -11.52 -25.344, -25.632c0, -14.112 11.232, -25.344 25.344, -25.344c14.112, 0 25.632, 11.232 25.632, 25.344c0, 14.112 -11.52, 25.632 -25.632, 25.632Z'/%3E %3C/svg%3E ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
