.header__navigation {
  float: right;
  position: relative;
  transition: all 0.2s;

  @media (max-width: 700px) {
    width: calc(100% + 4rem);
    top: 0;

    background-image: linear-gradient(90deg, $cyan 0%, $blue 100%);
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: right;

    &:not(.active) {
      left: calc(100% + 6rem);

      .header__navigation__item:not(:last-of-type) {
        opacity: 0;
        visibility: hidden;
      }
    }

    &.active {
      left: 2rem;

      .header__navigation__item:not(:last-of-type) {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.header__navigation__item {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  text-transform: lowercase;
  transition: all 0.2s;

  @media (min-width: 701px) {
    &:last-of-type {
      display: none;
    }
  }

  &:not(:last-of-type) {
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &:not(:hover):not(.active) {
    color: $white;
  }

  &.active,
  &:hover {
    background-color: $white;
    color: $black;
  }

  &:last-of-type {
    top: 0; right: 2rem;
    position: fixed;
  }
}
